<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean  id="alien" class="org.example.Alien" autowire="byName">

<!--       In this we have autowire the the alien means link the alien
            with that class wholes name should match with computer interface in the spring.xml file                  -->




<!--        <property name="computer" ref="desktop">-->
<!--         we have give the implementation (computer)  name as the
                      computer in the Alien class so we use the computer here
                       and reference is used to tell which computer should you use as it is
                       implementation and is used by the 2 classes laptop and desktop

                      -->







    </bean>
    <bean  id="alien2" class="org.example.Alien">
        <constructor-arg value="Aryan"></constructor-arg>
        <constructor-arg value="21"></constructor-arg>
        <!--
         This only work with the parametrized constructor

         -->



    </bean>
    <bean  id="computer" class="org.example.laptop">



    </bean>
    <bean  id="desktop" class="org.example.desktop"/>
</beans>