<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean  id="alien" class="org.example.Alien">

        <constructor-arg ref="laptop"></constructor-arg>


<!--       <property name="age" value="21">
          </property>   -->
<!--           changing the age value using the spring frame work
               this will change the value of the constant

-->

        <!--  to change the value of the variable using the
         setters or the function we use

        -->
<!--        <constructor-arg value="14"></constructor-arg>-->
        <!--
         This only work with the parametrized constructor

         -->







        <!-- one method is this to set the values using the
         parametrized coi structor when data types are same
          public Alien(int age, int salary)
          -->
<!--        <constructor-arg name="age" value="25" />-->
<!--        <constructor-arg name="salary" value="50000" />
-->

        <!-- Another is this-->
<!--          <constructor-arg index="0" value="25" />      This will go to 'age'-->
<!--        <constructor-arg index="1" value="50000" />   This will go to 'salary' -->
        <property name="laptop" ref="laptop">
<!--            as laptop is declared  as the object inside the
               Alien class so we can initilize as folllow up and pass its refernce
                   which is already decleared in the beam of the class and also
                      we have to create the setterfor laptop

                      -->

<!--             doing the same work for the constructor -->

        </property>






    </bean>

<!--    this will make the object of the Alien class 2 times -->
    <bean  id="alien2" class="org.example.Alien">
<!--        <property name="age" value="25" />-->
        <constructor-arg value="Aryan"></constructor-arg>
        <constructor-arg value="21"></constructor-arg>
        <!--
         This only work with the parametrized constructor

         -->



    </bean>
    <bean  id="laptop" class="org.example.laptop">



    </bean>
</beans>